<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>

<body>
  <!-- Content starts -->
  <section class="my-3 p-3 bg-white rounded box-shadow" layout:fragment="content">
    <small class="d-block text-right mt-3" id="sso-btn">
      <a th:href="@{/saml/login}" class="btn btn-spring btn-sm">
        <i class="fas fa-rocket"></i> Get started</a>
    </small>
  </section>
  <!-- Content ends -->
<body>
  
</html>